<h1>Recipe Search</h1>
<div class="container my-4 savedContainer">
   <p style="font-style: italic;">I was thinking we could make these accordions or something</p>
   <p style="font-style: italic;">Like maybe the checkboxes are hidden by accordion, but what user has chosen will display even if text boxes are hidden. I can explain more in person</p>
   <div class="row my-2 border">
      <div class="col-12 py-2">
         <p>
            Select dietary preferences from the given options:
            <div class="custom-control custom-checkbox dietCheckbox"></div>
         </p>
         <p style="font-style: italic;">(check console to see which one is chosen, we will use this to know what params for our API request)</p>
      </div>
   </div>
   <div class="row my-2 border">
      <div class="col-12 py-2">
         <p>
            Redundant to give impression of page layout:
            <div class="custom-control custom-checkbox dietCheckbox"></div>
         </p>
      </div>
   </div>
</div>
