{{> Navigation/nav-block search=false view=false account=false signup=true}}

<h1>User's Dashboard</h1>


<ul class="nav nav-tabs" id="myTab" role="tablist">
   <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Search</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Saved Recipes</a>
   </li>
</ul>
<div class="tab-content" id="myTabContent">
   <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="accordion" id="accordionExample">
         <div class="card">
            <div class="card-header" id="headingOne">
               <div class="row my-2 border">
                  <div class="col-12 py-2">
                     <p>
                        Select key word for search
                        <!-- {{!-- Client side js will append diet options to dietCheckbox class --}} -->
                        <div class="keyRadio">
                        </div>
                        <!-- <div class="custom-control custom-checkbox dietCheckbox"></div> -->
                     </p>
                     <button type="button" class="btn btn-primary" id="checkKey">Log what is checked</button>
                     <p style="font-style: italic;">(check console to see which one is chosen, we will use this to know
                        what params for our API request)</p>
                  </div>
               </div>
               <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Filters
                  </button>
               </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
               <div class="card-body">


                  {{!-- Filters in collapsed container --}}
                  <div class="container my-4 savedContainer">
                     <div class="row my-2 border">
                        <div class="col-12 py-2">
                           <p>
                              Select dietary preferences from the given options:
                              <!-- {{!-- Client side js will append diet options to dietCheckbox class --}} -->
                              <div class="dietCheckbox">
                              </div>
                              <!-- <div class="custom-control custom-checkbox dietCheckbox"></div> -->
                           </p>
                           <button type="button" class="btn btn-primary" id="checkDiet">Log what is checked</button>
                           <p style="font-style: italic;">(check console to see which one is chosen, we will use this to know
                              what params for our API request)</p>
                        </div>
                     </div>
                     <div class="row my-2 border">
                        <div class="col-12 py-2">
                           <p>
                              Health Options (for best results don't select more than 3):
                              <!-- {{!-- Client side js will append diet options to cuisineCheck class --}} -->
                              <div class="custom-control custom-checkbox healthCheck"></div>
                           </p>
                           <button type="button" class="btn btn-primary" id="checkHealth">Log what is checked</button>
                        </div>
                     </div>
                     <div class="row my-2 border">
                        <div class="col-12 py-2">
                           <p>
                              Select key word for search
                              <!-- {{!-- Client side js will append diet options to dietCheckbox class --}} -->
                              <div class="calorieRadio">
                              </div>
                              <!-- <div class="custom-control custom-checkbox dietCheckbox"></div> -->
                           </p>
                           {{!-- <button type="button" class="btn btn-primary" id="checkKey">Log what is checked</button> --}}
                           {{!-- <p style="font-style: italic;">(check console to see which one is chosen, we will use this to know
                              what params for our API request)</p> --}}
                        </div>
                     </div>
                  </div>
                  <button type="button" class="btn btn-primary" id="search">"Search using params"</button>



               </div>
            </div>
         </div>
         <div class="card" id="recipeResults">
            <div class="card-header" id="headingOne">
               <h3>There are no results that match your search</h3>
               <p>Please try adjusting your search keywords or filters.</p>
               <div class="recipe-card card d-flex flex-row">
                  <img src="" class="recipe-image card-img-top w-25" alt="recipe-image">
                  <div class="card-body">
                     <h5 class="recipe-name card-title">[Title]</h5>
                     <p><a href="" target="_blank" class="recipe-link">View Recipe</a></p>
                     <p>Calories(per serving): <span class="calories">[xxx]</span></p>
                     <p>Total Time: <span class="total-time">[Total Time]</span></p>
                     <p>Ingredients:</p>
                     <ul class="ingredients-list">
                     </ul>
                     <p>Diet:</p>
                     <ul class="diet-list">
                     </ul>
                     <p>Health:</p>
                     <ul class="health-list">
                     </ul>
                     <a href="#" class="save-recipe-btn btn btn-primary">Save</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="recipe-card card d-flex flex-row">
         <img src="" class="recipe-image card-img-top w-25" alt="recipe-image">
         <div class="card-body">
            <h5 class="recipe-name card-title">[Title]</h5>
            <p><a href="" target="_blank" class="recipe-link">View Recipe</a></p>
            <p>Calories(per serving): <span class="calories">[xxx]</span></p>
            <p>Total Time: <span class="total-time">[Total Time]</span></p>
            <p>Ingredients:</p>
            <ul class="ingredients-list">
            </ul>
            <p>Diet:</p>
            <ul class="diet-list">
            </ul>
            <p>Health:</p>
            <ul class="health-list">
            </ul>
            <a href="#" class="delete-recipe-btn btn btn-primary">Delete</a>
         </div>
      </div>
   </div>
</div>



{{> Modal/recipeerror-block}}
{{> Modal/keyError-block}}

<script src="/js/recipe.js"></script>

