* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  color: #646464;
  margin: 0;
  font-family: "Asap", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  line-height: 1.2;
  font-weight: bold;
  color: #000;
}

h1 {
  font-size: 1.8em;
}

@media (min-width: 576px) {
  h1 {
    font-size: 2.2em;
  }
}

h2 {
  font-size: 1.6em;
}

@media (min-width: 576px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.4em;
}

@media (min-width: 576px) {
  h3 {
    font-size: 1.8em;
  }
}

p,
ul,
ol,
blockquote,
address,
label {
  margin: 0 0 1rem 0;
  font-style: normal;
  color: #646464;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #646464;
}

a {
  text-decoration: none;
  color: #646464;
  -webkit-transition: all .5s;
  transition: all .5s;
}

a:hover, a:focus {
  color: #28e500;
}

button, .btn, .sign-up-btn {
  background-color: #28e500 !important;
  border: thin solid transparent !important;
  border-radius: 6px;
  padding: .25em 2em;
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

button:focus, button:hover, .btn:focus, .btn:hover, .sign-up-btn:focus, .sign-up-btn:hover {
  border: thin solid #28e500 !important;
  background-color: transparent !important;
  color: #28e500 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media (max-width: 768px) {
  button, .btn, .sign-up-btn {
    width: 100%;
  }
}

input:hover,
input:focus {
  border: thin solid #ddd;
  border-left: 8px solid #28e500;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

select:hover,
select:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.modal .close {
  border: none !important;
  background-color: #fff !important;
  color: #28e500 !important;
  width: 3em;
}

.modal .close:hover, .modal .close:focus {
  border: none !important;
  color: #646464 !important;
}

body {
  background-color: #f9f9f9;
}

body nav {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

body nav .navbar-brand #go-home {
  width: 100%;
  max-width: 6em;
}

@media (min-width: 768px) {
  body nav .navbar-nav li:not(:last-child) {
    margin-left: 1em;
  }
  body nav .navbar-nav li:last-child {
    margin-left: 1em;
  }
}

body nav .navbar-toggler {
  background-color: white !important;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 3em;
  border: none !important;
}

body nav .navbar-toggler:hover, body nav .navbar-toggler:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none !important;
  opacity: .5;
}

.home-page {
  margin-top: 5%;
}

.home-page .main {
  width: 90%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.home-page .main .wrapper {
  padding: 10%;
}

.home-page .main .wrapper .home-btns {
  margin-top: 2em;
}

.home-page .main .wrapper .home-btns button {
  margin-top: 1em;
}

.singup-page {
  width: 90%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.singup-page .header-wrap {
  padding: 8% 0;
}

.singup-page .header-wrap h1, .singup-page .header-wrap h3 {
  margin: 0;
}

.singup-page .form-row label {
  margin-bottom: .25em;
}

@media (min-width: 768px) {
  .singup-page .form-row {
    width: 48%;
    margin: 1%;
  }
}

#viewAccountPage {
  padding-bottom: 8%;
  width: 90%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

#viewAccountPage .header-wrap {
  padding: 8% 0;
}

#viewAccountPage .header-wrap h1, #viewAccountPage .header-wrap h3 {
  margin: 0;
}

#viewAccountPage .form-row label {
  margin-bottom: .25em;
}

@media (min-width: 768px) {
  #viewAccountPage .form-row {
    width: 48%;
    margin: 1%;
  }
}

#viewAccountPage .submit-btns-row {
  width: 100%;
  margin: 2em auto 0;
}

#viewAccountPage .update-btns {
  margin: auto;
}

@media (max-width: 768px) {
  #viewAccountPage .update-btns button:not(:last-child) {
    margin-bottom: 1em;
  }
}

.recipe-search-block {
  padding-bottom: 8%;
  width: 90%;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-search-block .welcome {
  padding: 8% 0;
}

.recipe-search-block .nav-tabs .active {
  color: #28e500;
}

.recipe-search-block .tab-pane {
  border-top: none;
}

.recipe-search-block .tab-pane:last-child {
  border: 1px solid rgba(77, 41, 41, 0.125);
  background-color: #fff;
  border-top: none;
}

.recipe-search-block .accordion .col-12 {
  padding: 2em 0 1em;
}

.recipe-search-block .accordion .search-filters .row {
  border-top: thin solid #e0e0e0;
}

.recipe-search-block .accordion #searchCard {
  border-top: none;
}

.recipe-search-block .accordion #searchCard .card-header {
  background-color: #fff;
  border: none;
  padding: 0;
}

@media (min-width: 576px) {
  .recipe-search-block .accordion #recipeResults .results-message {
    width: 100%;
  }
}

.recipe-search-block .accordion #recipeResults .recipe-card {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  border: none !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  position: relative;
  width: 90%;
  margin: 2% auto;
}

.recipe-search-block .accordion #recipeResults .recipe-card .recipe-image {
  width: 100%;
  height: 13em;
}

.recipe-search-block .accordion #recipeResults .recipe-card .card-body {
  text-align: left;
  padding: 10%;
}

.recipe-search-block .accordion #recipeResults .recipe-card .card-body .recipe-link {
  color: #28e500;
}

.recipe-search-block .accordion #recipeResults .recipe-card .card-body .recipe-link:hover, .recipe-search-block .accordion #recipeResults .recipe-card .card-body .recipe-link:focus {
  color: #646464;
}

.recipe-search-block .accordion #recipeResults .recipe-card .card-body button, .recipe-search-block .accordion #recipeResults .recipe-card .card-body .save-recipe-btn {
  position: absolute;
  top: 10px;
  left: -10px;
}

@media (min-width: 576px) {
  .recipe-search-block .accordion #recipeResults .recipe-card {
    width: 43%;
  }
}

.recipe-search-block .accordion #search {
  margin-bottom: 3em;
}

.recipe-search-block .accordion .custom-control {
  width: 100%;
}

.recipe-search-block .accordion .custom-control input {
  margin: 4px 8px 0 0;
}

.recipe-search-block .accordion .custom-control label {
  margin: 0;
}

@media (min-width: 576px) {
  .recipe-search-block .accordion .custom-control {
    display: inline;
  }
}

.recipe-search-block .accordion .healthCheck {
  padding: 0;
}

.recipe-search-block .accordion .healthCheck .custom-control {
  padding: 0;
}

@media (min-width: 576px) {
  .recipe-search-block .accordion .healthCheck .custom-control {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */