<div class="modal" id="saveError" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Not logged in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
               <p>To save recipes you need to have an account. It's quick, and free to sign up, just click the "Sign Up" button.</p>
            </div>

            <div class="modal-footer">
                <a class="nav-link btn btn-primary sign-up-btn" href="/signup" data-signup={{signup}}>SIGN UP</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>